Repository openshift/aws-account-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: aws-account-operator-on-pull-request, aws-account-operator-on-push

aws-account-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/aws-account-operator-tenant/openshift/aws-account-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

aws-account-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/aws-account-operator-tenant/openshift/aws-account-operator:{{revision}}
  - name: dockerfile
    value: build/Dockerfile
  - name: path-context
    value: .
  ...

feat: add functionality for compliance tags
  build/Dockerfile
  build/Dockerfile.olm-registry
  controllers/account/account_controller.go
  controllers/account/account_controller_test.go
  controllers/validation/account_validation_controller.go
  controllers/validation/account_validation_controller_test.go
  hack/olm-registry/olm-artifacts-template.yaml
  hack/templates/aws.managed.openshift.io_v1alpha1_configmap.tmpl
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Bump boilerplate and force go 1.25.5
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  go.mod
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Bump to bp 8.3.1
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/ensure.sh
  build/Dockerfile
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Release toolchain locking
  go.mod
Due: none

bump golang.org/x/crypto for medium CVEs
  go.mod
  go.sum
Due: none

bump go to 1.25.5
  go.mod
Due: none

feat: remove VPC creation and Init VM for govcloud
  controllers/account/ec2.go
  controllers/account/ec2_test.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Add Konflux OLM bundle and catalog support via boilerplate
  .gitignore
  .tekton/aws-account-operator-push.yaml
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/Containerfile.bundle
  boilerplate/openshift/golang-osd-operator/Containerfile.catalog
  boilerplate/openshift/golang-osd-operator/bundle-hack/README.md
  boilerplate/openshift/golang-osd-operator/bundle-hack/update_bundle.sh
  boilerplate/openshift/golang-osd-operator/config-templates/manifests/kustomization.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
Due: aws-account-operator-on-push

Implement Konflux OLM bundle and catalog build support
  .gitignore
  .tekton/aws-account-operator-operator-bundle-pull-request.yaml
  .tekton/aws-account-operator-operator-bundle-push.yaml
  .tekton/aws-account-operator-operator-catalog-pull-request.yaml
  .tekton/aws-account-operator-operator-catalog-push.yaml
  Containerfile.bundle
  Containerfile.catalog
  boilerplate/openshift/golang-osd-operator/standard.mk
  bundle-hack/README.md
  bundle-hack/update_bundle.sh
  config/manifests/kustomization.yaml
Due: none

Optimize Containerfile location to reference from boilerplate
  .tekton/aws-account-operator-operator-bundle-pull-request.yaml
  .tekton/aws-account-operator-operator-bundle-push.yaml
  .tekton/aws-account-operator-operator-catalog-pull-request.yaml
  .tekton/aws-account-operator-operator-catalog-push.yaml
  Containerfile.bundle
  Containerfile.catalog
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/Containerfile.bundle
Due: none

Fix nudge chain and remove git push triggers from bundle/catalog
  .tekton/aws-account-operator-operator-bundle-push.yaml
  .tekton/aws-account-operator-operator-catalog-push.yaml
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-push.yaml.tmpl
Due: none

Fix PipelineRun validation error with task result references
  .tekton/aws-account-operator-operator-bundle-pull-request.yaml
  .tekton/aws-account-operator-operator-bundle-push.yaml
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-push.yaml.tmpl
Due: none

Add workspace volume definitions to bundle and catalog pipelines
  .tekton/aws-account-operator-operator-bundle-pull-request.yaml
  .tekton/aws-account-operator-operator-bundle-push.yaml
  .tekton/aws-account-operator-operator-catalog-pull-request.yaml
  .tekton/aws-account-operator-operator-catalog-push.yaml
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-bundle-push.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/.tekton-templates/operator-catalog-push.yaml.tmpl
Due: none

change on-cel expression to standarize tekton pull and push files
  .tekton/aws-account-operator-pull-request.yaml
  .tekton/aws-account-operator-push.yaml
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Bump boilerplate to bump opm
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/ensure.sh
Due: none

feat: Dummy test DO NOT MERGE
  controllers/accountclaim/accountclaim_finalizer.go
  controllers/accountclaim/reuse.go
  test/integration/int-testing.mk
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

feat: Dummy test DO NOT MERGE
  controllers/account/account_finalizer.go
  controllers/accountclaim/accountclaim_controller_test.go
  controllers/accountclaim/accountclaim_finalizer.go
  controllers/accountclaim/accountclaim_finalizer_test.go
  controllers/accountclaim/reuse.go
  test/integration/int-testing.mk
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

feat: Dummy test DO NOT MERGE
  controllers/account/account_finalizer.go
  controllers/accountclaim/accountclaim_controller_test.go
  controllers/accountclaim/accountclaim_finalizer.go
  controllers/accountclaim/accountclaim_finalizer_test.go
  controllers/accountclaim/reuse.go
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

fix: integration test errors
  controllers/account/account_finalizer.go
  controllers/accountclaim/accountclaim_controller_test.go
  controllers/accountclaim/accountclaim_finalizer.go
  controllers/accountclaim/accountclaim_finalizer_test.go
  controllers/accountclaim/reuse.go
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

feat: Add integration-test Docker image with dependency fallback
  build/Dockerfile.integration-test
  test/integration/integration-test-bootstrap.sh
Due: none

SREP-2890 https://issues.redhat.com/browse/SREP-2890
  controllers/validation/account_validation_controller.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Refactor AAO local testing framework
  CLAUDE.md
  Makefile
  build/Dockerfile
  build/Dockerfile.olm-registry
  controllers/account/account_controller_test.go
  controllers/account/iam.go
  docs/1.1-InstallationPrerequisites.md
  docs/2.0-Development.md
  hack/scripts/aws/setup_access_role.sh
  hack/scripts/aws/sts-infra-precheck.sh
  hack/scripts/set_operator_credentials.sh
  hack/scripts/update_aws_credentials.sh
  hack/templates/aws.managed.openshift.io_v1alpha1_aws_account_operator_credentials.tmpl
  pkg/awsclient/client.go
  test/integration/test_envs
  test/local/create_account.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Bump boilerplate
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/TEST_README.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/test-requirements.txt
  boilerplate/openshift/golang-osd-operator/test_olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Revert "Merge pull request #918 from reedcort/SREP-2921"
  CLAUDE.md
  Makefile
  controllers/account/account_controller_test.go
  controllers/account/iam.go
  docs/1.1-InstallationPrerequisites.md
  docs/2.0-Development.md
  hack/scripts/aws/setup_access_role.sh
  hack/scripts/aws/sts-infra-precheck.sh
  hack/scripts/set_operator_credentials.sh
  hack/scripts/update_aws_credentials.sh
  hack/templates/aws.managed.openshift.io_v1alpha1_aws_account_operator_credentials.tmpl
  pkg/awsclient/client.go
  test/integration/test_envs
  test/local/create_account.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

fix: Account controller not receiving watch events for new CRs
  controllers/account/account_controller.go
  controllers/accountclaim/mock/cr-client.go
  controllers/validation/account_validation_controller.go
  go.mod
  go.sum
  test/integration/integration-test-bootstrap.sh
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Adding the same pause reconciliation changes to the account/account_controller.go and accountpool_validation_controller.go
  controllers/account/account_controller.go
  controllers/validation/account_validation_controller_test.go
  controllers/validation/accountpool_validation_controller.go
  controllers/validation/accountpool_validation_controller_test.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

feat: updating and adding integration tests. run-int-test
  test/integration/int-testing.mk
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
  test/integration/tests/test_aws_ou_logic.sh
  test/integration/tests/test_fake_accountclaim.sh
  test/integration/tests/test_finalizer_cleanup.sh
  test/integration/tests/test_kms_accountclaim.sh
  test/integration/tests/test_nonccs_account_creation.sh
  test/integration/tests/test_nonccs_account_reuse.sh
  test/integration/tests/test_sts_accountclaim.sh
  test/integration/tests/validate_ccs_accountclaim.sh
  test/integration/tests/validate_fake_accountclaim.sh
  test/integration/tests/validate_kms_key.sh
  test/integration/tests/validate_sts_accountclaim.sh
Due: none

Pause account claiming as well
  controllers/accountclaim/accountclaim_controller.go
  controllers/accountclaim/accountclaim_controller_test.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

feat: add and format integration tests
  CLAUDE.md
  Makefile
  hack/scripts/setup_local_integration_testing.sh
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
  test/integration/tests/test_accountpool_size.sh
  test/integration/tests/test_aws_ou_logic.sh
  test/integration/tests/test_fake_accountclaim.sh
  test/integration/tests/test_finalizer_cleanup.sh
  test/integration/tests/test_kms_accountclaim.sh
  test/integration/tests/test_nonccs_account_creation.sh
  test/integration/tests/test_sts_accountclaim.sh
Due: none

feat: add and format integration tests
  CLAUDE.md
  Makefile
  hack/scripts/setup_local_integration_testing.sh
  test/integration/integration-test-bootstrap.sh
  test/integration/integration-test-lib.sh
  test/integration/tests/test_accountpool_size.sh
  test/integration/tests/test_aws_ou_logic.sh
  test/integration/tests/test_fake_accountclaim.sh
  test/integration/tests/test_finalizer_cleanup.sh
  test/integration/tests/test_kms_accountclaim.sh
  test/integration/tests/test_nonccs_account_creation.sh
  test/integration/tests/test_nonccs_account_reuse.sh
  test/integration/tests/test_sts_accountclaim.sh
  test/integration/tests/validate_sts_accountclaim.sh
Due: none

fix: Add missing aws-sdk-go-v2/config package
  go.mod
  go.sum
Due: none

fix: Regenerate accountclaim mock to match controller-runtime API
  controllers/accountclaim/mock/cr-client.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

fix: Correct local profile test count message (5/8, not 6/8)
  test/integration/integration-test-bootstrap.sh
Due: none

feat: Upgrade AWS SDK from v1 to v2
  controllers/account/account_controller.go
  controllers/account/account_controller_test.go
  controllers/account/byoc.go
  controllers/account/byoc_test.go
  controllers/account/cases.go
  controllers/account/ec2.go
  controllers/account/ec2_test.go
  controllers/account/iam.go
  controllers/account/iam_test.go
  controllers/account/region_enablement.go
  controllers/account/region_enablement_test.go
  controllers/account/service_quota.go
  controllers/account/service_quota_test.go
  controllers/accountclaim/accountclaim_controller.go
  controllers/accountclaim/accountclaim_controller_test.go
  controllers/accountclaim/organizational_units.go
  controllers/accountclaim/organizational_units_test.go
  controllers/accountclaim/reuse.go
  controllers/accountclaim/reuse_test.go
  controllers/awsfederatedaccountaccess/awsfederatedaccountaccess_controller.go
  controllers/awsfederatedaccountaccess/awsfederatedaccountaccess_controller_test.go
  controllers/awsfederatedrole/awsfederatedrole_controller.go
  controllers/validation/account_validation_controller.go
  controllers/validation/account_validation_controller_test.go
  go.mod
  go.sum
  main.go
  pkg/awsclient/client.go
  pkg/awsclient/client_test.go
  pkg/awsclient/iam.go
  pkg/awsclient/mock/zz_generated.mock_client.go
  pkg/awsclient/sts/sts_assume_role.go
  pkg/awsclient/sts/sts_assume_role_test.go
  pkg/awsclient/tags.go
  pkg/awsclient/tags_test.go
  pkg/totalaccountwatcher/totalaccountwatcher.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

fix: Complete unit test conversion to AWS SDK v2
  controllers/account/account_controller_test.go
  pkg/totalaccountwatcher/totalaccountwatcher_test.go
  pkg/utils/utils.go
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

chore: Regenerate CRDs and mocks after SDK v2 upgrade
  api/v1alpha1/zz_generated.openapi.go
  controllers/accountclaim/mock/cr-client.go
  deploy/crds/aws.managed.openshift.io_accountclaims.yaml
  deploy/crds/aws.managed.openshift.io_accountpools.yaml
  deploy/crds/aws.managed.openshift.io_accounts.yaml
  deploy/crds/aws.managed.openshift.io_awsfederatedaccountaccesses.yaml
  deploy/crds/aws.managed.openshift.io_awsfederatedroles.yaml
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

chore: Update boilerplate Dockerfiles to latest UBI base images
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: aws-account-operator-on-pull-request, aws-account-operator-on-push

Path conditions:
  aws-account-operator-on-pull-request: (((any of: **/*.go) or (any of: **/go.*)) or (any of: build/Dockerfile)) or (any of: .tekton/aws-account-operator-pull-request.yaml)
  aws-account-operator-on-push: (((any of: **/*.go) or (any of: **/go.*)) or (any of: build/Dockerfile)) or (any of: .tekton/aws-account-operator-push.yaml)
